# Local .terraform directories
**/.terraform/*


#Other Directories
GarbageCollector/
03-serverless-lambda-api/lambda/package/
04-Image-Processing-pipeline/lambdas/resize/build
05-Incident-Response-Automation/lambda/build
Modules/
Custom-Modules-Test/
Packer-AMI/
pythonscripts/


#IN-PROGRESS PROJECTS
#04-Image-Processing-pipeline/
#05-Incident-Response-Automation/
06-EC2-Ansible/
08-ai-powered-ids/
#06-Container-Secuirty-Pipeline/


# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# AWS credentials and config
.aws/
*.pem
*.key

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.code-workspace

# System files
.DS_Store
Thumbs.db
